@charset "utf-8";
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-Regular.otf') format('truetype');
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0
}

table{
	border-collapse:collapse;
	border-spacing:0
}

img{
	border:0
}

address,caption,cite,code,dfn,em,th,var{
	font-style:normal;
	font-weight:normal
}

/****************************** ALL CSS *****************************/


ol,ul{
	list-style:none
}

caption,th{
	text-align:left
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal
}

body{
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:13px;
}

.row{
	padding-bottom: 40px;
	border-bottom: 1px solid #143f57;
}

.color_h1{
	color: #8dc63f;
}

.right {
	float: right;
}

.left {
	float: left;
}

.seperate {
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: #e1e8ed;
}

.media-heading {
	font-weight: bold;
}

/****************************** BODY CSS ***************************/
.category-list {
	border: 1px;
	border-style: solid;
	border-color: #e1e8ed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 268px;
	padding-bottom: 5px;
	margin-top: 15px;
}

.category-list .seperate {
	margin: -1 30px -1 30px;
}

.category-list h1{
	border-left: 5px solid #8dc63f;
	padding: 4px 0px 4px 27px;
	margin-top: 29px;
	margin-bottom: 29px;
	font-family: Oswald;
	font-weight: lighter;
	font-size: 16px;
}

.category-list.category a{
	padding: 15px 30px 15px 30px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: white;
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	display: block;
}

.category-list.suggested-app .media{
	margin: 11px 30px;
}

.category-list.suggested-app .media-body{
	white-space: nowrap;
	text-overflow: ellipsis;
}

.category-list a.active{
	background-color: #e1e8ed;
	text-decoration: none;
}

.category-list a:hover{
	color: #8dc63f;
	text-decoration: none;
}

.top-body {
	height: 76px;
}

.top-body div{
	margin-top: 18px;
}

.top-body .select-device a {
	border: 1px solid #8dc63f;
	color: #8dc63f;
	background-color: white;
	padding: 10px 37px 10px 36px;
	display: inline-block;
	float: left;
	font-size: 13px;
}

.top-body .select-device a.active{
	color: white;
	background-color: #8dc63f;
}
.top-body .select-device a:hover {
	text-decoration: none;
	color: #304f06;
}

.top-body .select-device a.mobile{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 0;
}

.top-body .select-device a.tablet{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 0;
}

.device-name {
	font-family: oswald;
	font-size: 24px;
}

/***************************** HEADER CSS **************************/

#header{
		background:#181818;
}

.right-header button {
	border: 0;
	border-right: 1px;
	border-style: solid;
	border-color: #212121;
}

.right-header a, .right-header button {
	color: #a5adb2;
}

.logofl{
	vertical-align: middle;
	margin: 0px 0px 14px 0px;
}

.logofl a:hover, .right-header a:hover{
	text-decoration: none;
}

.logofl a.menu:hover, .logofl a.selected{
	background: #62b23f;
}

.logofl a.menu{
	color: white;
	padding: 15px 20px 15px 20px;
}

.logofl a.logo{
	padding: 10px 20px 10px 20px;
}

.logofl a.menu, .logofl a.logo {
	margin:0;
	float: left;
}


.logofl i{
	font-size: 17px;
	padding-right: 6px;
}

/******************************** FOOTER CSS ***************************************/

#footer-text{
	padding-top: 25px;
	text-align: center;
	color: #999999;
	font-size: 12px;
}

#footer-text a{
	margin-right: 5px;
}

#footer-text .wide{
	border-style: solid;
	border-color: #e1e8ed;
	margin-bottom: 15px;
}

.sponsor div a{
	border:0;
	margin: 5px;
}


.clear{clear:both}

